{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Articles
{% endblock title %}

{% block content %}
<div class="container">
    {% for article in article_list %}
    <div class="card mb-3">
        <div class="card-header">
            <span class="font-weight-bold">{{ article.title }}</span>
            <span class="text-muted">by {{ article.author }} | {{ article.date }}</span>
        </div>
        <div class="card-body">
            <p>{{ article.body }}</p>
        </div>
        <div class="card-footer">
            {% for comment in article.comment_set.all %}
            <p>
                <span class="font-weight-bold">{{ comment.author }} &middot;</span>
                {{ comment }}
            </p>
            {% endfor %}
            <a href="{% url 'article_detail' article.pk %}" class="btn btn-primary">Add comment</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}